.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--space-xl) var(--space-xxxl);
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-gray);
  z-index: 99;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-l);
}

.logoImg {
  width: 48px;
  height: 48px;
}

.logoText {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.profileWrapper {
  position: relative;
}

.profileImg {
  width: 48px;
  height: 48px;
}

.dropdown {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-l);
  width: 150px;
  position: absolute;
  right: 0;
  /* transform: translate(-50%, 0); */
  padding: var(--space-l) var(--space-m);
  color: var(--dark-gray);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: var(--border-radius-m);
}

.username {
  width: 100%;
  margin-bottom: var(--space-l);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logoutBtn {
  font-family: inherit;
  font-size: inherit;
}
