.label {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  font-size: var(--font-xl);
  font-weight: 500;
  margin-bottom: var(--space-l);
}

.input {
  font-size: var(--font-l);
  padding: var(--space-m) var(--space-l);
  border-radius: var(--border-radius-l);
  border: 1px solid rgba(255, 255, 255, 0.38);
  margin-bottom: var(--space-m);
  font-weight: 500;
}

.input:focus {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid var(--blue-magenta);
}

.errMessage {
  color: var(--input-error-color);
  font-size: var(--font-s);
}
