:root {
  --white: #fff;
  --dark-gray: #161616;
  --blue-magenta: #907bff;
  --medium-gray: #808080;
  --royal-blue: #624ce0;
  --midnight-blue: #192038;
  --input-error-color: #ca0000;

  --border-radius-s: 0.4rem;
  --border-radius-m: 0.8rem;
  --border-radius-l: 1.6rem;
  --border-radius-xl: 2rem;

  --space-s: 0.4rem;
  --space-m: 1rem;
  --space-l: 1.6rem;
  --space-xl: 2.4rem;
  --space-xxl: 3.2rem;
  --space-xxxl: 4.8rem;
  --space-xxxxl: 6.4rem;

  --font-xs: 1.2rem;
  --font-s: 1.4rem;
  --font-m: 1.6rem;
  --font-l: 1.8rem;
  --font-xl: 2.4rem;
  --font-xxl: 3.2rem;
  --font-xxxl: 4.8rem;
}
